.coin_list_inner {
    margin-top: 30px;
}
.coin_list_inner .c_list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 20px;
    padding: 15px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
.coin_list_inner .c_list:hover {
    background: #f1f1f1;
}
.coin_list_inner > div {
    font-size: 16px;
}
.coin_list_inner .korean_name {
    color: #222;
    font-weight: 500;
}
.coin_list_inner .market_name {
    font-size: 10px;
    color: #777;
    line-height: 100%;
}
.coin_list_inner .tick_price {
    vertical-align: middle;
}
.coin_list_inner .tick {
    text-align: right;
}
.coin_list_inner .change {
    text-align: right;
}
.coin_list_inner .change_price {
    vertical-align: middle;
}
.coin_list_inner .change_price.RISE {
    color: #f75467;
}
.coin_list_inner .change_price.FALL {
    color: #4386f9;
}